files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDvzCCAqcCFDOEisprVpL4i54SDUFrujIkKidZMA0GCSqGSIb3DQEBCwUAMIGb
      MQswCQYDVQQGEwJVUzESMBAGA1UECAwJV2lzY29uc2luMRQwEgYDVQQHDAtTdW4g
      UHJhaXJpZTEnMCUGA1UECgweTWFkaXNvbiBBcmVhIFRlY2huaWNhbCBDb2xsZWdl
      MRUwEwYDVQQDDAxqb3NoIGhhZWZuZXIxIjAgBgkqhkiG9w0BCQEWE2pvc2hoYWY3
      N0BnbWFpbC5jb20wHhcNMjQwMzEwMTI0OTAxWhcNMjUwMzEwMTI0OTAxWjCBmzEL
      MAkGA1UEBhMCVVMxEjAQBgNVBAgMCVdpc2NvbnNpbjEUMBIGA1UEBwwLU3VuIFBy
      YWlyaWUxJzAlBgNVBAoMHk1hZGlzb24gQXJlYSBUZWNobmljYWwgQ29sbGVnZTEV
      MBMGA1UEAwwMam9zaCBoYWVmbmVyMSIwIAYJKoZIhvcNAQkBFhNqb3NoaGFmNzdA
      Z21haWwuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtO2jX1Ni
      4H96F9ICYE1yC7Ufd0BFb0e57gDA3fBuNsAaBMPxq0hTxPFnrm8XadDZEEyFjkyx
      PWNRCdbCyVo+bcwfVGwT69nbBD89i10Dz9NXx6Wwc1D2wutHVzCaWyj8eTocshpR
      1EHJ2KO44z7CkmFcbdLuQjydrhsDd1LPhBP3GRuXCl1p2q4Ky+uf623MAwkPsCPR
      S5CtG5SOOL8XmF6E+kXxi3J7vnA6I8WkEKz8h8hnGjWyfbg1GtC2x509m/I6VBLy
      HVnCPeco2X2jZk1NSrMj9bBTyAVP5N3WcqMUAiPLihxHA83JwMAiFexLveoVoio2
      XusyMrGW8tyw7QIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQBlMjL0dYNFn6qTqD5w
      V7D25tGkYh7XZiUDoKylcrqmASbwfmy3oITFG6TySeKUGXhTbqinuTR2fuurigMq
      uBHfeJPA/F38QgyNoWnlyf/N0b6T0EFiztNIGN2DVYX28fVBKfYnUGaf9tNNC6/L
      kAinVOSRawDTNYuvYCHVXMxbIr9FJA4Ar/L6Uz12wa5UxsXvHnYGkVLmOT3iJtQP
      bL7sdPZczsWH5eJDiRrApEMLCO6OteDlVqvVobUv2APg7D9hv4CG0YRJRHBwBiBh
      Fp1FJDJf9vJCoHjVspVe5KAO/PDeo7UyOVFzKhugMhJp7ULN/Dc1a42elbun/ArE
      oxgM
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC07aNfU2Lgf3oX
      0gJgTXILtR93QEVvR7nuAMDd8G42wBoEw/GrSFPE8Weubxdp0NkQTIWOTLE9Y1EJ
      1sLJWj5tzB9UbBPr2dsEPz2LXQPP01fHpbBzUPbC60dXMJpbKPx5OhyyGlHUQcnY
      o7jjPsKSYVxt0u5CPJ2uGwN3Us+EE/cZG5cKXWnargrL65/rbcwDCQ+wI9FLkK0b
      lI44vxeYXoT6RfGLcnu+cDojxaQQrPyHyGcaNbJ9uDUa0LbHnT2b8jpUEvIdWcI9
      5yjZfaNmTU1KsyP1sFPIBU/k3dZyoxQCI8uKHEcDzcnAwCIV7Eu96hWiKjZe6zIy
      sZby3LDtAgMBAAECggEAAQQo3XU7tqlBeGa66kpEy7sFiCn4NgLYmdhvJtPYWn9k
      MrYeqiKjPMhtr/GCMh2A/ywAGlreUgadjWvhOkNJnUHWIPjyMgKFc30PnqJe+APu
      h3Q7cYBOJxLwbog1hQ5FCy9yExNe/pZUdfSdHzwOYZIfNEbRuhM5cuxuCnoDUL57
      pPBrGcfwYuW7kV/BYtJmEXxVuBR5PFRVL71V8GUvIHdqdS88wvah9rBxZ82A53LS
      9xp0cmEOe2GExSRwh3voyBadfsP2f09zRUMGWP0bTJ+2EVo00SoHrXCl1UtgXS0l
      OsJpAU9p7xOWHnYoJQ/bWao89CEuaODXIdTn1MeBAQKBgQDnGGoH6qukdj8Z9UwS
      BoLTYY3F0m/G2lsfIg2F0OG6QCMGZR6Ojbd3+M8YS6vstC2KUbXB2pvIzQsUXJl1
      Y1wsSUuVlaxvDuTpw+whzPM5r25SeVVo6SoPmNU4BWVrIwtVUvJ3ixmSzkOoYxR2
      bxKAsyPwjzQGBkPmKwf218uJ7QKBgQDIbS/KLngI+c3pGKg46CShme3YidvSM1ny
      PFWTBXz4iHImtqavC1Ez4ZiNnctxeppRB8qrJKsmUJpp8jK2MFYzqKtn02gfKquS
      wUYNkX9eDJ5i52GzmNiVEW92z40i4ekUtyEKhZlDz/SHVaAGoFU3iJlpBoSNjchg
      iinPFlTjAQKBgQCQjWL1pMLM0vJRqHB27f+zfVgTH7ivaDKLXN+cjrZDrI68F1Bv
      1xGmR8oy5lKac3HxDX9lzPqZNjjx+aI8HXSwdwCChucfaO+jkdwIoIybzrJxgFf+
      kaqvqufkbOutgnQ6YPIt+KJ8g+0qTR+lnYCzZFrcxJbEFfMu7EfFDeLRWQKBgHjZ
      PSOPeVkQJpQSBfyqHMxD4CHcnerUg7uHnaGUgZHp08p7/200SbYapL1fE7hM0Jdj
      N1SSO5BSsYiIPQOViaSEYzWrRvDj7agDWZX80OuIeEfyc/qygoT/ilH9O4B47u1K
      rmWFwLAex7aCbocQTdG6T6YABBTGFLgBFsyDDpQBAoGBAN0t6DNE30/1G/JhHqpw
      iueJYC4mA/YrvuRTS8bgKNZT7kPZnJrP/o0W0l5+CeOaT42SXFEqBT359uDSCmlb
      7eSqDaC19Ag3j3DEQPVDKf/eCAj6MLWvAbl8UdwgxetgmuKtZA9WZGwAHnvXyW1g
      iSiKb2nQI77G3Ho+AyhSXHd8
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart