.logoImg {
    width: 12em;
    margin-bottom: 3em;
}

.ForecastData {
    position: relative;
    background-color: #f2f2f2; /* Light gray background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Slight shadow */
    padding: 15px; /* Padding around the list */
    border-radius: 5px; /* Rounded corners */
    list-style: none; /* No list-style */
    margin: 0; /* Remove default margin */
}

.ForecastData li {
    padding: 5px 0; /* Space between list items */
    border-bottom: 1px solid #e0e0e0; /* Light gray border between items */
    position: relative;
}

.ForecastData li:last-child {
    border-bottom: none; /* Remove border from the last item */
}

.ForecastData li span {
    font-weight: bold; /* Make the labels bold */
}

#Greeting {
    position: relative;
    display: inline-block;
}

.header-text {
    position: absolute;
    top: 13em;
    left: 14em;
    color: white;
    font-size: 32px;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: black 2px 3px;
}

.container-fluid {
    background-color: #F1FFFA;
}

body {
    background-color: #F1FFFA;
}

#fishingGuideCard {
    margin-top: 2em;
}
